<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../editor-panel/editor-panel.component.scss">
</head>
<body>
    <br>
    <br>
    <br>
    <div class="container" >

        
        <div class="row">
        <div class="col-md-3">

        
        <div class ="row align-items-start" *ngFor="let user of userList">
            <div class="col styled-col">
                <li>
                    <a>{{user.Email}}   --   {{user.Id}}</a> 
                    <a class="links" (click)="deleteUser(user.Id)">Delete</a>
                </li>

            </div>
          </div>
                  
                  
        <div class="col-md-3">

        </div>
        <p></p>
        <a routerLink=""> <app-button  text="Log Out" class = "btn-sm logout"></app-button></a>
                  
        </div>
        </div>
    </div>
</body>
</html>