@import "/node_modules/bootstrap/scss/bootstrap.scss";

.links{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight:bolder;
    position: absolute;
    right: 40%;
}
.editorInfo{
    
    text-align: center;
}